
.tz-bold {
    font-weight: bold;
    padding-left: 10px;
}

.tz-cat-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.data-table-extensions > .data-table-extensions-action > button.download:hover::after {
    content:""
}

.form-check-input[type="checkbox"] {
    border-radius: 0.25em;
    height: 18px;
    width: 18px;
}

.tz-form-input-center {
    display: flex;
    align-items: "center";
}

.tz-small-img {

    cursor: pointer;
}

.tz-small-img .tz-cancel {
    display: none;
    position: absolute;
    cursor: pointer;   
}

.tz-small-img:hover .tz-cancel {
    display: block !important;
    position: absolute;
    cursor: pointer;
}

input[readonly] {
    background-color: white;
}